**1.Addition of two numbers** 




---

In [ ]:
a=input("Enter 1 number : ")
b=input("Enter 2 number : ")

sum=int(a)+int(b)

print("Addition of two numbers : ",sum)

Enter 1 number : 10
Enter 2 number : 20
Addition of two numbers :  30

**2.Maximum of two numbera in python.**

---

In [ ]:
a=input("Enter first number : ")
b=input("Enter second number : ")

if(a>b): 

  print("a is greater")
  
else: 
  print("b is greater")

Enter first number : 20
Enter second number : 10
a is greater

**3.Factorial of numbers.**

---

In [ ]:
num=input("enter number : ")
factorial=1 

if int(num)<0:

  print("factorial does not exist for negative numbers")

elif int(num) == 0:
    print("factorial of 0 is=1")

else:
      for i in range(1,int(num)+1):

        factorial=factorial*i;

        print("the factorial of given number is",factorial)

enter number : 6
the factorial of given number is 1
the factorial of given number is 2
the factorial of given number is 6
the factorial of given number is 24
the factorial of given number is 120
the factorial of given number is 720

**4.Python program for simple interest.**

---

In [ ]:
p=input("Enter principle          : ")
t=input("Enter the time of period : ")
r=input("Enter the rate of interest: ")

si=float(p)*int(t)*float(r)/100
24
print("simple interest :",si)

Enter principle          : 11
Enter the time of period : 2
Enter the rate of interest: 4
simple interest : 0.88

**5.Python program for compound interest.**

---

In [ ]:

p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in the years: "))

ci =  p * (pow((1 + r / 100), t)) 

print("Principle amount  : ", p)
print("Interest rate     : ", r)
print("Time in years     : ", t)
print("compound Interest : ", ci)

Enter the principle amount : 10
Enter the rate of interest : 20
Enter the time in the years: 30
Principle amount  :  10.0
Interest rate     :  20.0
Time in years     :  30.0
compound Interest :  2373.7631379976956

**6.Python program for armstrong number.**

---

In [ ]:
number = 15
temp = number
add_sum = 0

while temp!=0:
    k = temp%10
    add_sum +=k*k*k
    temp = temp//10

if add_sum==number:

    print("Armstrong Number")

else:

    print("Not a Armstrong Number")

Not a Armstrong Number

**7.Python program to find area of a circle.**

---

In [ ]:
r=float(input("Enter Redius : "))

a=3.14*r*r

print("Area of circule :",a)

Enter Redius : 5
Area of circule : 78.5

**8.Python program to print all prime numbers in an interval.**

---

In [ ]:
def prime_no(num):
    if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=" ")
    
lower  = int(input("enter starting limit: "))
upper  = int(input("enter ending limit limit: "))

print("Prime numbers between", lower , "and", upper , "are:")

for i in range(lower, upper + 1):
   prime_no(i)

enter starting limit: 10
enter ending limit limit: 20
Prime numbers between 10 and 20 are:
11 13 17 19

**9.Python program to check whether a number is prime or not.**

---

In [ ]:
num = 11

if num > 1: 

    for i in range(2, int(num/2)+1): 
        if (num % i) == 0: 
        
            print(num, "is not a prime number") 

            break

    else: 

        print(num, "is a prime number") 

else: 

    print(num, "is not a prime number")

11 is a prime number

**10.Python program for n-th Fibonacci number.**

---

In [ ]:
n = int(input("Enter the value of n : "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ", end = " ")
while(count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter the value of n : 5
Fibonacci Series:  0 1 1 2 3

**11.How to check if a given number if fibonacci number.**

---

In [ ]:
def fib(num):
    a = 0
    b = 1
    while b<num:
        c = a+b
        a = b
        b = c
    if b==num or a==num:
        return True
    if b > num:
        return False
num = 18
if fib(num):
    print(num,"is a fibonacci number.")
else:
    print(num,"is not a fibonacci number.")

18 is not a fibonacci number.

**12.Python program for n\'th multiple of number in fibonacci series.**

---

In [ ]:
def find(k, n):
   f1 = 0
   f2 = 1
   i =2;
   while i!=0:
      f3 = f1 + f2;
      f1 = f2;
      f2 = f3;
      if f2%k == 0:
         return n*i
      i+=1
   return
n = 8;
k = 7;
print("Position of n'th multiple of k in""Fibonacci Series is: ", find(k,n));

Position of n'th multiple of k inFibonacci Series is:  64

**13.Program to print ASCII Value of a character.**

---

In [ ]:
char=str(input("Enter Character : "))

print(f"The ASCII Value of Character {char} is : ",ord(char))

Enter Character : S
The ASCII Value of Character S is :  83

14.Python program for sum of squares of first n natural numbers.

In [ ]:
num=int(input("Enter number : "))
sum=0

for i in range(1,num+1):
  sum=sum+(i*i)

  print("Sum of squres = ",sum)

Enter number : 5
Sum of squres =  1
Sum of squres =  5
Sum of squres =  14
Sum of squres =  30
Sum of squres =  55

**15.Python program for cube sum of first n natural numbers.**

---

In [ ]:
num=int(input("Enter number : "))
sum=0

for i in range(1,num+1):
  sum=sum+(i*i*i)

  print("Sum of cube = ",sum)

Enter number : 5
Sum of cube =  1
Sum of cube =  9
Sum of cube =  36
Sum of cube =  100
Sum of cube =  225